{% extends "base_template.html" %}

{% block title %} Change Password {% endblock %}

{% block content %}
<div class="page-margin">

    <h2>Change Password: </h2>
    <br>
    <form action="change_password" method="post">
        <div class="mb-3">
            <label for="CURRENT_PASSWORD" class="form-label">Current Password</label>
            <input type="password" class="form-control" id="CURRENT_PASSWORD" name="password" placeholder="Enter Your Current Password" style="width: 25%;">
        </div>
        <div class="mb-3">
            <label for="NEW_PASSWORD" class="form-label">New Password</label>
            <input type="password" class="form-control" id="NEW_PASSWORD" name="new_password" placeholder="Enter Your New Password" style="width: 25%;">
        </div>
        <div class="mb-3">
            <label for="CONFIRM_NEW_PASSWORD" class="form-label">Confirm New Password</label>
            <input type="password" class="form-control" id="CONFIRM_NEW_PASSWORD" name="confirm_password" placeholder="Confirm your New Password" style="width: 25%;">
        </div>
        <button type="submit" class="btn btn-outline-primary">Submit</button>
      </form>
</div>

{% endblock %}