{% extends "base_template.html" %}

{% block title %}Home Page{% endblock %}

{% block custom_nav_items %}

    {% if login_status == True %}
        <li class="nav-items">
            <a class="nav-link" href="{{ url_for('my_account') }}">My account</a>
        </li>
    {% else %}
        <li class="nav-items login-link">
            <a class="nav-link" href="{{ url_for('login') }}" >Login</a>
        </li>
    {% endif %}

{% endblock %}

{% block content %}

    <div class='mid'>
        <video autoplay muted loop>
            <source class="embed-responsive" src = "{{ url_for('static', filename='video/1_t.mp4') }}" type="video/mp4">
        </video>
        <div class="hero text-center">
            <h2 class="text-dark display-4 font-weight-bold ">Omni Library</h2>
            <p class="text-dark mx-auto">Library management system</p>
            {% if login_status == True %}
            <p class="text-dark mx-auto"> <a href="#about">About</a> | <a href="#service">Service</a> </p>
            {% else %}
            <p class="text-dark mx-auto"> <a href="#about">About</a> | <a href="#service">Service</a> | <a href="#sign_up">Sign up</a> </p>
            {% endif %}
        </div>

    </div>

    <section id="about" class="about pt-5 pb-2">
        <div class="row align-items-center container my-5 mx-auto ">
            <div class="text col-lg-6 col-md-6 col-12 w-50 pt-5 pb-5">
                <h2>Various books for minimal cost</h2>
                <p>A library is a collection of materials, books or media that are easily accessible for use and not just for display purposes. It is responsible for housing updated information in order to meet the user's needs on a daily basis.</p>
                <a href="#">Learn more</a>
            </div>
            <div class="img col-lg-6 col-md-6 col-12 w-50 pt-5 pb-5">
                <img class="img-fluid" src="{{ url_for('static', filename='1.svg') }}" >

            </div>
        </div>
        

    </section>

    <section id="service" class="service py-5">
    <div class="col mx-auto align-items-center my-5">
        <div class="heading text-center pt-0 ">
        <h2 class="font-weight-bold pb-5 text-light">Our Service</h2>
        </div>
        <div class="row mx-auto justify-content-center align-items-center text-center container ">
            <div class="one col-lg-3 col-md-3 col-12 w-25 m-2">
                <img class="img-fluid w-75" src="{{ url_for('static', filename='book.svg') }}">
                <h5 class="font-weight-bold pt-4">Books</h5>
                <p>Many books are available</p>
            </div>
            <div class="one col-lg-3 col-md-3 col-12 w-25 m-2">
                <img class="img-fluid w-75" src="{{ url_for('static', filename='money.svg') }}">
                <h5 class="font-weight-bold pt-4">Low Cost</h5>
                <p>Read books at low cost</p>
            </div>

        </div>
    </div>


    </section>

    {% if not login_status %}
        <section id="sign_up" class="sign py-5">
            <div class="row align-items-center container my-5 mx-auto ">
                <div class="text col-lg-6 col-md-6 col-12 w-50 pt-5 pb-5">
                    <h6>JOIN NOW</h6>
                    <h2>Creating an account is extremely easy</h2>
                    <p>A library is a collection of materials, books or media that are easily accessible for use and not just for display purposes. It is responsible for housing updated information in order to meet the user's needs on a daily basis.</p>
                    <a href="{{ url_for('register') }}">Create your account now</a>
                </div>
                <div class="img col-lg-6 col-md-6 col-12 w-50 pt-5 pb-5">
                    <img class="img-fluid" src="{{ url_for('static', filename='1.svg') }}" >
                </div>
            </div>
        </section>
    {% endif %}

{% endblock %}