{% extends "base_template.html" %}
{% block title %} Omni Library {% endblock %}

{% block custom_nav_items %}
    <form class="d-flex" action="omni_library" method="post">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search_query">
        <button class="btn btn-success text-dark" type="submit">Search</button>
    </form>
    &nbsp;
    {% if login_status == True %}
        <li class="nav-items">
            <a class="nav-link" href="{{ url_for('my_account') }}">My account</a>
        </li>
    {% else %}
        <li class="nav-items login-link">
            <a class="nav-link" href="{{ url_for('login') }}" >Login</a>
        </li>
    {% endif %}
{% endblock %}

{% block content %}
    {% if book_list and admin_login_status%}
        {% for book in book_list %}
        <br>
            <div class="card" style="width:25%; padding:3%; background-color: rgb(255, 238, 0); border-radius: 25%;">
                <p class="card-title"> <strong>Book name:</strong> {{ book[1] }}</p>
                <p class="card-title"> <strong>Author name:</strong> {{ book[2] }}</p>
                <p class="card-title"> <strong>Cost(INR ₹):</strong> ₹{{ book[3] }}</p>
                <form action="remove_book_library" method="post">
                    <input type="hidden" name="book_id" value="{{ book[0] }}">
                    <button class="btn btn-danger" type="submit" style="border-radius: 50px;">Remove the book</button>
                </form>
            </div>
        <br>
        {% endfor %}
        <!-- #00b6b6; -->
    {% elif book_list and not admin_login_status%}
        {% for book in book_list %}
        <br>
            <div class="card" style="width:25%; padding:3%; background-color: rgb(255, 238, 0); border-radius: 25%;">
                <p class="card-title"><strong>Book name:</strong> {{ book[1] }}</p>
                <p class="card-title"><strong>Author name:</strong> {{ book[2] }}</p>
                <p class="card-title"><strong>Cost(INR ₹):</strong> ₹{{ book[3] }}</p>
                <form action="rent_book" method="post">
                <input type="hidden" name="book_id" value="{{ book[0] }}">
                    <button class="btn btn-primary" type="submit" style="border-radius: 50px;">Rent the book</button>
                </form>
            </div>
        <br>
        {% endfor %}
    {% else %}
        <h1>Search books by keywords like name, author, subject etc.</h1>
        <h3>Enter 'all' to see all the books</h3>
    {% endif %}
{% endblock %}